.inner-wrapper {
    padding: 40px 20px;
    max-width: 1920px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 0px !important;
}

.encounterGameHeader {
    margin-bottom: 50px;
}

.encounterVs {
    padding-top: 25px;
    font-size: 55px;
}

.avatar{
    float: left;
    img {
        border-radius: 250px;
        width: 150px;
    }
}
.playerName {
    font-size: 45px;
}

.crown-box {
    min-height: 75px !important;
}

.princessTower {
    width: 85px;
}

.world {
    width: 200px;
    margin-top: 150px;
}

.crowns {
    height: 85px;
}

