.login-container {
    background: $secondaryColor;
    @media (min-width: $breakpoint-md) {
        padding: 100px 0;
        margin: 0 auto;
    }
    &-inner {
        background: $fifthColor;
        margin-bottom: 40px;
        @media (min-width: $breakpoint-md) {
            padding: 95px 0!important;
            margin-bottom: 100px;
        }
    }
    label,
    .filled-btn {
        font-size: 16px;
        line-height: 167.5%;
        @media (min-width: $breakpoint-md) {
            font-size: 18px;
        }
    }
    .field-loginform-rememberme label,
    .passwordReset  {
        font-size: 14px;
        line-height: 167.5%;
    }
    .field-loginform-rememberme {
        label:hover {
            cursor: pointer;
        }
    }
}