header {
    padding: 24px 20px;
    border-bottom: 2px solid $white;
    @media (min-width: $breakpoint-md) {
        padding: 0px 71px;
    }
    .navbar {
        max-width: 1920px;
        margin: 0 auto;
        padding: .5rem 0 !important;
        .navbar-collapse {
            justify-content: space-evenly;
            @media (max-width: $breakpoint-md-max) {
                .nav-link {
                    padding: 15px 0;
                    border-bottom: 1px solid $white2;
                }
            }
        }
        .logo {
            img {
                width: 145px;
            }
        }
        @media (min-width: $breakpoint-sm) {
            .logo {
                img {
                    width: 238px;
                }
            }
        }
        a {
            font-size: 20px;
            color: $white;
            padding: 5px;
            border-bottom: 2px solid $secondaryColor;
            &:hover {
                color: $primaryColor;
                border-bottom: 2px solid $primaryColor;
            }
            &.active {
                border-bottom: 2px solid $primaryColor;
            }
            &:not(:first-child),
            &:not(:last-child) {
                @media (min-width: $breakpoint-sm) {
                    margin-right: 15px;
                }
            }
        }
        .dropdown-menu {
            position: relative;
            float: none;
            background: $sixthColor;
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            border-bottom: 1px solid $white;
            margin-top: 0;
            @media (min-width: $breakpoint-md) {
                margin-left: -1px;
                width: 270px !important;
                margin-top: -3px;
                position: absolute;
            }
            a:hover {
                background: none;
                color: $primaryColor;
            }
        }
        .account-bar {
            margin-top: 40px;
            @media (min-width: $breakpoint-md) {
                margin-left: 10px;
                margin-top: 0;
            }
            @media (max-width: 1199px) {
                width: 100%;
            }
            button {
                font-size: 16px;
                line-height: 18px;
                @media (min-width: $breakpoint-md) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            .outline-btn-white {
                margin-right: 10px;
            }
            .logged-in.dropdown {
                z-index: 10000;
                padding: 15px;
                width: 270px;
                @media (max-width: 1199px) {
                    display: none;
                }
                li {
                    margin-bottom: 15px;
                }
                button {
                    background: none;
                    color: white;
                }
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
            .logged-in.dropdown.show {
                background: $sixthColor;
                border-left: 1px solid $white;
                border-right: 1px solid $white;
                border-top: 1px solid $white;
            }
        }
    }
}
@media (min-width: $breakpoint-sm+1) {
    header {
        padding: 24px 28px;
        .navbar {
            padding: .5rem 3rem !important;
        }
    }
    
}