@import "../startpage/news";
.inner-wrapper {
    padding: 40px 20px;
    max-width: 1920px;
    margin: 0 auto;
}
@media (min-width: $breakpoint-sm+1) {
    .inner-wrapper {
        padding: 40px 70px;
    }
}
.news-item {
    .news-link {
        border: 1px solid #FFFFFF;
    }
}

.categorie-item {
    .categorie-link {
        border: 1px solid #FFFFFF;
    }
}
