.partner-block {
    .partner-item {
        position: relative;
        &:after {
            content:"";
            position:absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
        }
        &:hover {
            cursor: pointer;
            &:after {
                background: rgba($secondaryColor,0.50);
            }
        }
        @media (max-width: $breakpoint-xs-max) {
            margin-bottom: 15px;
        }
    }
    .ad-block-container {
        @media (min-width: $breakpoint-sm) {
            margin-top: 32px;
        }
        margin-bottom: 30px;
    }
}