.inner-wrapper {
    padding: 40px 20px;
    max-width: 1920px;
    margin: 0 auto;
    .passwordChange {
        background: $thirdColor;
        padding: 170px 285px;
    }
    .filled-btn {
        margin-right: 20px;
    }
}