// Colors

.primaryColor {
    color: $primaryColor;
}

.secondaryColor {
    color: $secondaryColor;
}

.thirdColor {
    color: $thirdColor;
}

.white {
    color: $white;
}

// Backgrounds

.bg-green {
    background: $primaryColor;
}
