// Colors

.primaryColor {
    color: $primaryColor;
}

.secondaryColor {
    color: $secondaryColor;
}

.thirdColor {
    color: $thirdColor;
}

.white {
    color: $white;
}

// Backgrounds

.bg-green {
    background: $primaryColor;
}

.bg-red {
    background: $red;
}

.bg-darkblue {
    background: $secondaryColor;
}

.bg-darkblue-2 {
    background: $thirdColor;
}
