@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: $secondaryColor;
    color: $white;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 90px;
    font-weight: bold;
    line-height: 103px;
    @media (max-width: $breakpoint-xs) {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 30px;
    }
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 103px;
    margin-bottom: 55px;
    @media (max-width: $breakpoint-xs) {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 30px;
    }
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 37px;
    margin-bottom: 55px;
    @media (max-width: $breakpoint-xs) {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 30px;
    }
}

p {
    font-size: 16px;
    line-height: 18px;

    .big {
        font-size: 20px;
        line-height: 23px;
    }
}
