section {
    padding: 52px 28px;
    @media (min-width: $breakpoint-sm) {
        padding: 95px 75px;
    }
}

.content-under-construction {
    text-align: center;
    h1 {
        margin-top: 100px;
    }
    .inner-wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }    
}

