// Colors
$primaryColor: #18E04C;
$secondaryColor: #010A26;
$thirdColor: #00061B;
$fourthColor: #0C142F;
$fifthColor: #000617;
$white: #fff;
$white2: rgba(255, 255, 255, 0.1);

// Viewports
$breakpoint-xs: 560px;
$breakpoint-xs-max: ($breakpoint-xs - 1);
$breakpoint-sm: 768px;
$breakpoint-sm-max: ($breakpoint-sm - 1);
$breakpoint-md: 992px;
$breakpoint-md-max: ($breakpoint-md - 1);
$breakpoint-lg: 1200px;
$breakpoint-lg-max: ($breakpoint-lg - 1);
$breakpoint-360: 360px;
$breakpoint-414: 414px;
$breakpoint-iphone-ls: 668px;
$breakpoint-iphone-ls-max: ($breakpoint-iphone-ls - 1);