RewriteEngine On

# if a directory or a file exists, use it directly
#RewriteBase /
# local dev config:
#RewriteBase /tsa/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA] 
RewriteRule . index.php
